*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
main{
    min-height: 100vh;
    max-width: 1440px;
    width: 100%;
    background-image: url(img/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    background-position: center;
    background-size: cover;
    position: relative;
}
.row{
    margin: auto;
    display: flex;
    padding: 100px 150px;
    align-items: center;
    justify-content: space-between;
}
.left{
    color: #fff;
    flex-basis: 50%;
}
.left h1{
    font-size: 45px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 20px;
}
.left p{
    font-size: 16px;
    
}
.form{
    width: 85%;
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    margin-top: 15px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.left input{
    width: 100%;
    padding: 13px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: 700;
}
.top-btn{
    padding: 15px 84px;
    border: 1px solid hsl(248, 32%, 49%);
    border-radius: 10px;
    background-color: hsl(248, 32%, 49%);
    color: #fff;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.4);
    font-weight: 300;
    cursor: pointer;
}
.top-btn span{
    font-weight: 600;
}
.button{
    color: #fff;
    border: 1px solid hsl(154, 59%, 51%);
    border-radius: 10px;
    padding: 10px 127px;
    background: hsl(154, 59%, 51%);
    cursor: pointer;
    margin-bottom: 10px;
    letter-spacing: 3px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
}
.form p{
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    text-align: center;
    font-weight: 500;
}
.form p span{
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}
.form ::placeholder{
    color: hsl(249, 10%, 26%);
    font-weight: 600;
}
.clr-Msg{
    display: none;
    position: relative;
    bottom: 12px;
    left: 215px;
    font-size: 13px;
    color: red;
}

@media(max-width: 700px){
    .row{
        display: block;
    }
    .left h1{
        font-size: 40px;
        text-align: center;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .left p{
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
        font-weight: 300;
    }
    .form{
        width: 100%;
        padding-bottom: 5px;
        margin-top: 20px;
    }
    .top-btn{
        font-size: 16px;
    }
    .form p{
        color: hsl(246, 25%, 77%);
        font-size: 15px;
        text-align: center;
        font-weight: 400;
    }
    
}